<%
var site = {
	name: 'template',
	domain: urls.external,
	description: 'defaultのdescription',
	keyword: 'defaultのkeyword',
	ogTitle: 'defaultのogTitle',
	ogType: 'defaultのogType',
	ogDescription: 'defaultのogDescription',
	ogURL: 'defaultのogURL',
	ogImage: 'defaultのogImage',
	ogSitename: 'defaultのogSitename',
	twitterCard: 'summary',
	twitterSite: 'defaultのtwitterSite',
};

// 個別ページで定義されていない場合はデフォルト値を設定する
page.title = page.title ? page.title + ' | ' + site.name : site.name;
page.description = page.description ? page.description : site.description;
page.keyword = page.keyword ? page.keyword : site.keyword;
page.ogTitle = page.ogTitle ? page.ogTitle : site.ogTitle;
page.ogType = page.ogType ? page.ogType : site.ogType;
page.ogDescription = page.ogDescription ? page.ogDescription : site.ogDescription;
page.ogURL = page.ogURL ? page.ogURL : site.ogURL;
page.ogImage = page.ogImage ? page.ogImage : site.ogImage;
page.ogSitename = page.ogSitename ? page.ogSitename : site.ogSitename;
page.twitterCard = page.twitterCard ? page.twitterCard : site.twitterCard;
page.twitterSite = page.twitterSite ? page.twitterSite : site.twitterSite;
-%>
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title><%= page.title %></title>
<meta name="description" content="<%= page.description %>">
<meta name="keyword" content="<%= page.keyword %>">
<meta name="viewport" content="width=device-width,initial-scale=1">
<%# SPリンク可否設定 -%>
<meta name="format-detection" content="telephone=no,address=no,email=no">
<%# open graph protocol -%>
<meta property="og:title" content="<%= page.ogTitle %>">
<meta property="og:type" content="<%= page.ogType %>">
<meta property="og:description" content="<%= page.ogDescription %>">
<meta property="og:url" content="<%= page.ogURL %>">
<meta property="og:image" content="<%= page.ogImage %>">
<meta property="og:site_name" content="<%= page.ogSitename %>">
<%# twitter card（要サイト登録）-%>
<meta name="twitter:card" content="<%= page.twitterCard %>">
<meta name="twitter:site" content="<%= page.twitterSite %>">
<%# apple-touch-icon -%>
<%# iPad 2 and iPad mini (@1x) -%>
<link rel="apple-touch-icon" sizes="76x76" href="<%= site.domain %>images/icon/76.png">
<%# iPhone 6 and iPhone 5 and iPhone 4s (@2x) -%>
<link rel="apple-touch-icon" sizes="120x120" href="<%= site.domain %>images/icon/120.png">
<%# iPad and iPad mini (@2x) -%>
<link rel="apple-touch-icon" sizes="152x152" href="<%= site.domain %>images/icon/152.png">
<%# iPhone 6 Plus (@3x) -%>
<link rel="apple-touch-icon" sizes="180x180" href="<%= site.domain %>images/icon/180.png">
<%# default -%>
<link rel="apple-touch-icon" href="<%= site.domain %>images/icon/default.png">
<link rel="shortcut icon" href="<%= site.domain %>images/icon/favicon.ico">
<link rel="stylesheet" href="<%= site.domain %>css/style.css">
</head>
<body>
<div class="wrapper">
<% include _header -%>
	<div class="container">
		<div class="contents">
<% content(site) -%>
		</div>
	</div>
<% include _footer -%>
</div>
<script src="<%= site.domain %>js/app.js"></script>
</body>
</html>
